body{
    padding: 0;
    margin: 0;
}
header{
    background-color:black;
    color: white;
}
.website-header{
    padding: 20px;
    height: 80px;
    display: flex; 
    flex-wrap: wrap;
}

.website-header img{
    width: 50px;
    height: 50px;
    margin: 0px 30px;
}

.website-header h1{
    margin: auto 0;
}

.social-icons{
    text-align: right;
    flex-grow: 1;
}
.social-icons i{
    margin: 0 7px;
    cursor: pointer;
}
nav{
    background-color: black;
    height: 50px;
    margin-bottom: 20px;
}

nav ul{
    margin: 20px 0 0 0;
}

.navbar-nav li{
    padding: 10px 20px ;
}
.navbar-nav li a{
    color: white;
    font-size: 20px;
    font-weight: 800px;

} 
.navbar-nav li a:hover{
    color: red;
}

.breaking-news-section{
    padding: 0 30px 0 60px;
    display: flex;
    height: 30px;
}

#btext{
    width: 200px;
    font-size: 16px;
    text-transform: uppercase;
    color: red;
    font-weight: 600px;
    margin: auto 0;
}

.breaking-news{
   
    color: white;
    font-weight: 800px;
    display: inline-block;
}
.breaking-news:hover, .social-icons i:hover{
    color: red;
    cursor: pointer;
} 
.bntime{
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    padding: 0 10px;
    font-size: 12px;
}

#popular-news{
    display: flex;
    margin: 30px 5%;
}
#popular-news img{
    width: 100%;
    filter: brightness(0.7);
}

#popular-news h2{
    margin: 0;
    padding: 5px;
    color: white;
}
#featured h2{
    background-color: black;
}
#latest h2{
    background-color: darkred;
}
#our-picks h2{
    background-color: darkblue;
}

.carousal, .news-container{
    position: relative;
}

.popular-news-text{
    font-size: 14px;
    position: absolute;
    color: white;
    z-index: 2;
    bottom: 5px;
    font-size: 18px;
    font-weight: bolder;
    padding: 0 10px;
    transition-duration: 500ms;

}

#featured{
    flex: 2;
}

#latest, #our-picks{
    flex: 1;
}
.popular-news-text{
    cursor: pointer;
}
.news-container:hover > .popular-news-text{
    bottom: 10px;
}

.more-news{
    display: flex;
    background-color: black;
    justify-content: space-around;
    color: white;
    padding: 0 5%;
}

.more-news img{
    width: 100%;
}
.news-section{
    display: flex;
    flex-basis: 70%;
    justify-content: space-between;
}

aside{
    flex-basis: 25%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.world, .sport{
    flex-basis: 45%;
}

.world h2{
    background-color: red;
    padding: 0 10px;
    margin: 10px 0 0 0;
}
.sport h2{
    background-color: grey;
    padding: 0 10px;
    margin: 10px 0 0 0;
}

.recent-news{
    display: flex;
}

.recent-news img{
    width: 70px;
    height: 70px;
    margin: 10px;
}
.recent-news p{
    font-size: 14px;
    font-weight: bold;
    margin: auto;
}

.social-links{
    display: flex;
    padding: 5%;
    justify-content: space-between;
}

.social-links section{
    flex-basis: 30%;
}

.social-icons-footer i{
    font-size: 37px;
    padding: 5px; 
}

.instagram img{
    padding: 5px;
}

.footer-button{
    display: block;
    border: 1px solid rgb(35, 35, 192);
    color: 2196f3;
    font-size: 14px;
    font-weight: bolder;
    background-color: white;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}

.footer-button:hover{
    color: white;
    background-color: blue;
}

.copyright{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

